:root {
  --main-background-color: #f72727;
  --duration-button-background-color: rgba(0, 0, 0, .5);

  --font-color: white;
  --font-family: 'Droid Sans', sans-serif;

  --content-size: 500px;
}

body {
  background: var(--main-background-color);
  color: var(--font-color);

  font-family: var(--font-family);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: var(--content-size);
  height: var(--content-size);
}

time {
  position: absolute;

  font-size: 8rem;
  user-select: none;
}

nav {
  margin-bottom: 2rem;
}

nav icon {
  fill: var(--font-color);
  padding: 2rem;
  cursor: pointer;
}

.durationSelection button{
  background: var(--duration-button-background-color);
  color: var(--font-color);

  width: 8rem;
  padding: 1rem;
  margin: .5rem;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.progressbar {
  transform: rotate(-90deg);
  transform-origin: center center;
  transition: stroke-dasharray linear 1000ms;
}
